# ───────────── DATABASE ─────────────
DB_NAME=quizblitz
DB_USER=quizblitz_user
DB_PASSWORD=

# ───────────── PGADMIN ─────────────
PGADMIN_DEFAULT_EMAIL=admin@quizblitz.local
PGADMIN_DEFAULT_PASSWORD=

# ───────────── JWT ─────────────
JWT_SECRET=
JWT_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d

# ───────────── API ─────────────
NODE_ENV=development
PORT=3000
DB_HOST=postgres
DB_PORT=5432